*{
    box-sizing: border-box;
    background-color: rgb(194, 179, 247);
}
body{
    background-color: rgb(6, 248, 248);
    margin: 0;
    padding: 0;
    
    
}
section {
    border: 5px solid rgb(140, 0, 255);
  }
/*HOVER*/
.soyBoton{
    color: blueviolet;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;

}
.soyBoton:hover{
    color: chartreuse;
    background-color: blueviolet;
    padding: 10px;
    font-size: 30px;   
}

/*ACTIVE*/
.soyActive{
    color: rgb(94, 175, 196);
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;

}
.soyActive:active {
    color: lime;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    
  } 

  
  /*CHECKED*/
  .margenAbajo{
    margin-bottom: 90px;
  }
  div,select{
    margin: 8px;
  }
  input:checked + label {
    color: rgb(0, 224, 67);
  }
  option:checked {
    box-shadow: 0 0 0 3px rgb(241, 16, 35);
    color: rgb(0, 225, 255);
    padding: 10px;
  }
  
  /*DEFAULT*/
  input:default + label {
    color: rgb(132, 0, 255);
  }

  /*DIR()*/
:dir(rtl) {
    background-color: powderblue;
  }

  /*DISABLES*/
  input[type="text"]:disabled {
    background: #ccc;
  }

  /*EMPTY*/
  .box {
    background: rgb(90, 185, 252);
    height: 80px;
    width: 80px;
    
  }
  
  .box:empty {
    background: lime;
    
  }

  /*ENABLED*/
  input:enabled {
    color: rgb(0, 0, 0);
  }
  
  input:disabled {
    color: #aaa;
  }

  /*FIRST*/
  @page :first {
    margin-left: 50%;
    margin-top: 50%;
  }
  
  p {
    page-break-after: always;
  }

  /*FIRST-CHILD*/
  p:first-child {
    color: lime;
    background-color: black;
    padding: 5px;
  }

  /*FIRST-OF-TYPE*/
  article :first-of-type {
    background-color: pink;
  }


  /*FULLSCREEN*/
  #fullscreen:fullscreen {
    padding: 42px;
    background-color: pink;
    border: 2px solid #f00;
    font-size: 200%;
  }
  
  #fullscreen:fullscreen > h1 {
    color: red;
  }
  
  #fullscreen:fullscreen > p {
    color: darkred;
  }
  
  #fullscreen:fullscreen > button {
    display: none;
  }
  

  